@model Blog.Models.PostViewModel
@{
    ViewBag.Title = "ViewPost";
}

<h2>@Model.PostTitle</h2>

<strong>@Model.DatePost</strong>

<div>
    <p>@Model.PostContent</p>
</div>

<div class="text-right"><small>Views:</small> <strong>@Model.Counter</strong></div>
<hr />

<div class="row">
    <h4>Comments</h4>
    @Html.Action("ShowAll", "Comments", @Model)
</div>

@Html.ActionLink("Back", "ListPosts", "Post")
 
